body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    /* Estilización del encabezado */
    background-color: #4CAF50; /* Color de fondo verde */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Relleno alrededor del encabezado */
    text-align: center; /* Texto centrado */
}

input[type='text'] {
    /* Estilización del campo de entrada */
    padding: 10px; /* Relleno dentro del campo de entrada */
    width: 80%; /* Ancho del campo de entrada */
    margin: 10px 0; /* Margen para el espaciado */
}

button {
    /* Estilización del botón */
    padding: 10px 15px; /* Relleno dentro del botón */
    background-color: #f9f9f9; /* Color de fondo del botón */
    border: 1px solid #ccc; /* Estilización del borde */
    cursor: pointer; /* El cursor cambia a puntero al pasar el mouse */
}

button:hover {
    /* Efecto de hover en el botón */
    background-color: #e0e0e0; /* Cambia el fondo al pasar el mouse */
}

#chartsContainer {
    /* Estilización del contenedor de gráficos */
    margin: 20px; /* Margen alrededor del contenedor de gráficos */
}